<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" media="screen" href="static/main.css" />
    <link href='static/icon.ico' rel='icon' type='image/x-icon'>
    <link href='static/iphone.png' rel='apple-touch-icon'>

    <script src="static/bootstrap.js" defer="defer"></script>

    <script src="static/main.js"></script>
    <script>
        function AutoShrink() {
            try {
                elements = document.querySelectorAll('.auto-shrink');

                for (i = 0; i < elements.length; i++) {
                    el = elements[i];

                    height = parseInt(getComputedStyle(el).height);
                    lineHeight = parseInt(getComputedStyle(el).lineHeight);
                    fontSize = parseInt(getComputedStyle(el).fontSize);

                    while (height > lineHeight + 10) {
                        fontSize--;

                        el.style.fontSize = '' + fontSize + 'px';

                        height = parseInt(getComputedStyle(el).height);
                        lineHeight = parseInt(getComputedStyle(el).lineHeight);
                    }
                }
            } catch (err) {
                console.log("auto-shrink error", err.message)
            }
        }

        WebFont.load({
            custom: {
                families: ['Work Sans']
            },
            fontactive: function(familyName, fvd) {
                if (familyName == 'Work Sans') {
                    setTimeout(AutoShrink, 100)
                }
            },
            events: true,
            classes: false,
        })

        if (document.addEventListener) document.addEventListener('DOMContentLoaded', AutoShrink)
    </script>
    <title>Domain Marketplace | Buy &amp; Sell Domain Names</title>

</head>

<body>
    <div itemprop="author" style="display:none!important;"></div>
    <header class="headroom">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><img class="img-responsive" src="static/icon.ico" /></a><button class="navbar-toggle collapsed" data-target="#header-navbar" data-toggle="collapse" type="button"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button></div>
            <div class="collapse navbar-collapse" id="header-navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{url_for('login')}}">Login</a></li>
                    <li><a class="btn btn-ghost-primary btn-sm btn-sell-domains" type="button" href="{{url_for('signup')}}">Sell domains</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <nav class="navbar navbar-default fake"></nav>
    <div class="full-page">
        <div itemprop="potentialAction" style="display:none!important;"><input itemprop="query-input" name="terms_query" type="text" /></div>
        <section class="full-page-hero">
            <div class="container">
                <div class="row p-t-10 visible-xs"></div>
                <div class="row p-t-9">
                    <div class="col-md-16 col-md-offset-4">
                        <form class="hidden-xs" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
                            <div id="HomeSearch-react-component-f28cdb7b-2efa-4f33-9a27-913e01e07c30"></div>
                            <script type="application/json" class="js-react-on-rails-component" data-component-name="HomeSearch" data-dom-id="HomeSearch-react-component-f28cdb7b-2efa-4f33-9a27-913e01e07c30">
                                {
                                    "words": ["about me", "business", "blog"]
                                }
                            </script>

                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center m-t-8 m-t-6-xs"></div>
                </div>
                <section class="p-x-3-xs" id="p-y-8-xs">
                    <div class="hidden-xs" id="hero-banner">
                        <div id="clouds">
                            <div class="cloud-lane-1"><img class="cloud" src="static/clouds.png" /></div>
                            <div class="cloud-lane-2"><img class="cloud" src="static/moreclouds.png" /></div>
                        </div>
                    </div>
                </section>
                <div class="row hidden-xs p-y-8">
                    <div class="col-md-16 col-md-offset-4"><img class="img-responsive" src="static/shop.png" /></div>
                </div>
                <div class="row text-center">
                    <div class="summary_detail">
                        <div class="col-md-18 col-md-offset-3">
                            <div class="row">
                                <div class="col-md-8 col-sm-24 p-y-1">
                                    <div class="number">5M+</div>
                                    <div class="number-subtitle">Domain Inventory</div>
                                </div>
                                <div class="col-md-8 col-sm-24 p-y-1">
                                    <div class="number">1.5M+</div>
                                    <div class="number-subtitle">Marketplace Visits</div>
                                </div>
                                <div class="col-md-8 col-sm-24 p-y-1">
                                    <div class="number">$100M+</div>
                                    <div class="number-subtitle">Domain sales</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container p-b-8 p-b-4 text-center" id="goto-get-inspired"><a class="js-anchor-link" href="#"><i class="icon-arrow text-gray-lighter"></i></a></div>
        </section>
        <div class="market-place" id="market-place">
            <div class="header text-center">
                <h1 class="hero_title">Domains made available to all</h1>
                <div class="hero_subtitle">
                    <p>Regardless of your budget or company size, we&#39;ve got you covered.<br> Buy, rent or lease the perfect domain directly from the owner.</p>
                </div>
            </div>
            <div id="popular-domains">
                <div class="homepage-container">
                    <div class="row">
                        <div class="col-md-24">
                            <h2 class="text-center title">The most popular domains this week</h2>
                        </div>
                    </div>
                </div>
                <div class="multiple-carousel multi-item-carousel-domain">
                    <div class="carousel slide" id="domainCarousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="carousel-col">
                                    <div class="domain-card panel panel-card panel-with-shadow">
                                        <div class="popular-domain">
                                            <div class="domain-body">
                                                <div class="row">
                                                    <div class="col-md-24 col-lg-16 column">
                                                        <div><a class="name" href="#">PAYSTORE.COM</a><span class="inline-price"></span></div>
                                                        <a class="added-by text-nowrap" href="#"><img alt=" " class="avatar-sm avatar avatar-default" src="static/nv.png" />Next Venture</a>
                                                    </div>
                                                    <div class="col-sm-24 col-md-24 col-lg-8 col-xs-24 m-t-5-md text-right column"><a class="btn btn-ghost-primary btn-custom" href="#">Make an offer</a></div>
                                                </div>
                                                <hr class="splitter" />
                                                <div class="row">
                                                    <div class="col-md-24 percentage"><span class="percentage-number">338</span><span class="percentage-text">Views this month</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-col">
                                    <div class="domain-card panel panel-card panel-with-shadow">
                                        <div class="popular-domain">
                                            <div class="domain-body">
                                                <div class="row">
                                                    <div class="col-md-24 col-lg-16 column">
                                                        <div><a class="name" href="#">pictorama.com</a><span class="inline-price"></span></div>
                                                        <a class="added-by text-nowrap" href="#"><span class="avatar-default bg-8 avatar-sm avatar avatar-default"></span>Vendedor privado</a>
                                                    </div>
                                                    <div class="col-sm-24 col-md-24 col-lg-8 col-xs-24 m-t-5-md text-right column"><a class="btn btn-ghost-primary btn-custom" href="#">Make an offer</a></div>
                                                </div>
                                                <hr class="splitter" />
                                                <div class="row">
                                                    <div class="col-md-24 percentage"><span class="percentage-number">443</span><span class="percentage-text">Views this month</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-col">
                                    <div class="domain-card panel panel-card panel-with-shadow">
                                        <div class="popular-domain">
                                            <div class="domain-body">
                                                <div class="row">
                                                    <div class="col-md-24 col-lg-16 column">
                                                        <div><a class="name" href="#">Shopzu.com</a><span class="inline-price"></span></div><a class="added-by text-nowrap" href="#"><span class="avatar-default bg-19 avatar-sm avatar avatar-default"></span>Principal Domain</a></div>
                                                    <div class="col-sm-24 col-md-24 col-lg-8 col-xs-24 m-t-5-md text-right column"><a class="btn btn-ghost-primary btn-custom" href="#">Make an offer</a></div>
                                                </div>
                                                <hr class="splitter" />
                                                <div class="row">
                                                    <div class="col-md-24 percentage"><span class="percentage-number">543</span><span class="percentage-text">Views this month</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-col">
                                    <div class="domain-card panel panel-card panel-with-shadow">
                                        <div class="popular-domain">
                                            <div class="domain-body">
                                                <div class="row">
                                                    <div class="col-md-24 col-lg-16 column">
                                                        <div><a class="name" href="#">giftbucks.com</a><span class="inline-price"></span></div>
                                                        <div class="added-by text-nowrap"><span class="avatar-default bg-13 avatar-sm avatar avatar-default"></span>Private seller</div>
                                                    </div>
                                                    <div class="col-sm-24 col-md-24 col-lg-8 col-xs-24 m-t-5-md text-right column"><a class="btn btn-ghost-primary btn-custom" href="#">Make an offer</a></div>
                                                </div>
                                                <hr class="splitter" />
                                                <div class="row">
                                                    <div class="col-md-24 percentage"><span class="percentage-number">918</span><span class="percentage-text">Views this month</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-col">
                                    <div class="domain-card panel panel-card panel-with-shadow">
                                        <div class="popular-domain">
                                            <div class="domain-body">
                                                <div class="row">
                                                    <div class="col-md-24 col-lg-16 column">
                                                        <div><a class="name" href="#">uou.com</a><span class="inline-price"></span></div>
                                                        <div class="added-by text-nowrap"><img alt=" " class="avatar-sm avatar avatar-default" src="static/clients.png" />cheapnames.com</div>
                                                    </div>
                                                    <div class="col-sm-24 col-md-24 col-lg-8 col-xs-24 m-t-5-md text-right column"><a class="btn btn-ghost-primary btn-custom" href="#">Make an offer</a></div>
                                                </div>
                                                <hr class="splitter" />
                                                <div class="row">
                                                    <div class="col-md-24 percentage"><span class="percentage-number">1967</span><span class="percentage-text">Views this month</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-col">
                                    <div class="domain-card panel panel-card panel-with-shadow">
                                        <div class="popular-domain">
                                            <div class="domain-body">
                                                <div class="row">
                                                    <div class="col-md-24 col-lg-16 column">
                                                        <div><a class="name" href="#">pinned.com</a><span class="inline-price">$750,000</span></div>
                                                        <div class="added-by text-nowrap"><img alt=" " class="avatar-sm avatar avatar-default" src="static/g.png" />Private seller</div>
                                                    </div>
                                                    <div class="col-sm-24 col-md-24 col-lg-8 col-xs-24 m-t-5-md text-right column"><a class="btn btn-ghost-primary btn-custom" href="#">Buy now</a></div>
                                                </div>
                                                <hr class="splitter" />
                                                <div class="row">
                                                    <div class="col-md-24 percentage"><span class="percentage-number">18224</span><span class="percentage-text">Views this month</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-col">
                                    <div class="domain-card panel panel-card panel-with-shadow">
                                        <div class="popular-domain">
                                            <div class="domain-body">
                                                <div class="row">
                                                    <div class="col-md-24 col-lg-16 column">
                                                        <div><a class="name" href="#">dina.com</a><span class="inline-price">$199,995</span></div>
                                                        <a class="added-by text-nowrap" href="#"><img alt=" " class="avatar-sm avatar avatar-default" src="static/embrand.png" />Embrand</a>
                                                    </div>
                                                    <div class="col-sm-24 col-md-24 col-lg-8 col-xs-24 m-t-5-md text-right column"><a class="btn btn-ghost-primary btn-custom" href="#">Buy now</a></div>
                                                </div>
                                                <hr class="splitter" />
                                                <div class="row">
                                                    <div class="col-md-24 percentage"><span class="percentage-number">15547</span><span class="percentage-text">Views this month</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-col">
                                    <div class="domain-card panel panel-card panel-with-shadow">
                                        <div class="popular-domain">
                                            <div class="domain-body">
                                                <div class="row">
                                                    <div class="col-md-24 col-lg-16 column">
                                                        <div><a class="name" href="#">ignore.com</a><span class="inline-price"></span></div>
                                                        <a class="added-by text-nowrap" href="#"><span class="avatar-default bg-15 avatar-sm avatar avatar-default"></span>Private seller</a>
                                                    </div>
                                                    <div class="col-sm-24 col-md-24 col-lg-8 col-xs-24 m-t-5-md text-right column"><a class="btn btn-ghost-primary btn-custom" href="#">Make an offer</a></div>
                                                </div>
                                                <hr class="splitter" />
                                                <div class="row">
                                                    <div class="col-md-24 percentage"><span class="percentage-number">15009</span><span class="percentage-text">Views this month</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><a class="left carousel-control" data-slide="prev" href="#domainCarousel"><span aria-hidden="true" class="icon-arrow-big arrow-left"></span></a><a class="right carousel-control" data-slide="next" href="#domainCarousel"><span aria-hidden="true" class="icon-arrow-big arrow-right"></span></a></div>
                </div>
            </div>

            <div class="row hidden-xs">
                <div class="col-md-24">
                    <div class="panel panel-card panel-with-shadow transactions p-y-8">
                        <div class="row">
                            <div class="col-md-6 col-sm-24 text-center p-b-8-xs"><img class="image" src="static/blocks.png" /></div>
                            <div class="col-md-16 col-sm-22 p-x-4 border-left">
                                <div class="header">
                                    <p>Cutting edge technology put to use to create the most transparent, secure &amp; fast domain ownership transfer service.</p>
                                </div>
                                <div class="subtitle">
                                    <p>We&#39;re the first in our field that has successfully used blockchain technology to create the most reliable, secure and efficient domain trading platform. Our technology results in a faster, less error-prone and above
                                        all, a better domain buying &amp; selling experiences for all.</p>

                                    <p>Are you looking to verify a transaction? Check out our <a href="#">Explorer</a>.</p>
                                </div>
                            </div>
                        </div>
                        <div id="HomeBlockExplorer-react-component-8ab95ad3-b3dc-4f39-b5b7-54adeed8c20f"></div>
                        <script type="application/json" class="js-react-on-rails-component" data-component-name="HomeBlockExplorer" data-dom-id="HomeBlockExplorer-react-component-8ab95ad3-b3dc-4f39-b5b7-54adeed8c20f">
                            {
                                "local": "en-us",
                                "info_api_url": "https://explorer.dan.com/api/v1/info",
                                "blocks_api_url": "https://explorer.dan.com/api/v1/blocks?limit=1",
                                "transactions_api_url": "https://explorer.dan.com/api/v1/tx"
                            }
                        </script>

                    </div>
                </div>
            </div>
        </div>
        <div class="hidden-xs">
            <div class="homepage-container p-t-3">
                <div class="meet-sellers row">
                    <div class="col-md-24">
                        <h2 class="text-center title">Meet our sellers</h2>
                    </div>
                </div>
            </div>
            <div class="multiple-carousel multi-item-carousel-seller">
                <div class="carousel slide" id="sellerCarousel">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="carousel-col">
                                <div class="panel panel-card panel-with-shadow">
                                    <div class="top-seller">
                                        <div class="member-info row row-inline row-eq-height">
                                            <div class="avatar-col col-sm-8 column text-center"><img alt=" " class="avatar" src="static/flag.jpg" /></div>
                                            <div class="member-info-col col-sm-16 m-b-3-xs text-left column"><a class="text-gray-base member-name" href="#">Buffalo</a>
                                                <div class="member-from text-left">Member since 2019-03-22</div>
                                            </div>
                                        </div>
                                        <hr class="splitter" />
                                        <div class="same-line">
                                            <div class="number-customers text-center">1046</div>
                                            <div class="text-sellers">Domains Listed</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-col">
                                <div class="panel panel-card panel-with-shadow">
                                    <div class="top-seller">
                                        <div class="member-info row row-inline row-eq-height">
                                            <div class="avatar-col col-sm-8 column text-center"><img alt=" " class="avatar" src="static/money.jpg" /></div>
                                            <div class="member-info-col col-sm-16 m-b-3-xs text-left column"><a class="text-gray-base member-name" href="#">Namepower#126.com</a>
                                                <div class="member-from text-left">Member since 2019-03-22</div>
                                            </div>
                                        </div>
                                        <hr class="splitter" />
                                        <div class="same-line">
                                            <div class="number-customers text-center">11</div>
                                            <div class="text-sellers">Happy customers</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-col">
                                <div class="panel panel-card panel-with-shadow">
                                    <div class="top-seller">
                                        <div class="member-info row row-inline row-eq-height">
                                            <div class="avatar-col col-sm-8 column text-center"><span class="avatar-default bg-14 avatar">BL</span></div>
                                            <div class="member-info-col col-sm-16 m-b-3-xs text-left column"><a class="text-gray-base member-name" href="#">Bill Lynch</a>
                                                <div class="member-from text-left">Member since 2017-04-22</div>
                                            </div>
                                        </div>
                                        <hr class="splitter" />
                                        <div class="same-line">
                                            <div class="number-customers text-center">28</div>
                                            <div class="text-sellers">Active Negotiations</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-col">
                                <div class="panel panel-card panel-with-shadow">
                                    <div class="top-seller">
                                        <div class="member-info row row-inline row-eq-height">
                                            <div class="avatar-col col-sm-8 column text-center"><span class="avatar-default bg-10 avatar">WB</span></div>
                                            <div class="member-info-col col-sm-16 m-b-3-xs text-left column"><a class="text-gray-base member-name" href="#">WT Media B.V.</a>
                                                <div class="member-from text-left">Member since 2015-07-09</div>
                                            </div>
                                        </div>
                                        <hr class="splitter" />
                                        <div class="same-line">
                                            <div class="number-customers text-center">48</div>
                                            <div class="text-sellers">Active Negotiations</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-col">
                                <div class="panel panel-card panel-with-shadow">
                                    <div class="top-seller">
                                        <div class="member-info row row-inline row-eq-height">
                                            <div class="avatar-col col-sm-8 column text-center"><img alt=" " class="avatar" src="static/network.png" /></div>
                                            <div class="member-info-col col-sm-16 m-b-3-xs text-left column"><a class="text-gray-base member-name" href="#">Network Package</a>
                                                <div class="member-from text-left">Member since 2016-05-20</div>
                                            </div>
                                        </div>
                                        <hr class="splitter" />
                                        <div class="same-line">
                                            <div class="number-customers text-center">15</div>
                                            <div class="text-sellers">Happy customers</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-col">
                                <div class="panel panel-card panel-with-shadow">
                                    <div class="top-seller">
                                        <div class="member-info row row-inline row-eq-height">
                                            <div class="avatar-col col-sm-8 column text-center"><span class="avatar-default bg-5 avatar">CC</span></div>
                                            <div class="member-info-col col-sm-16 m-b-3-xs text-left column"><a class="text-gray-base member-name" href="#">Cyber Champion</a>
                                                <div class="member-from text-left">Member since 2018-02-05</div>
                                            </div>
                                        </div>
                                        <hr class="splitter" />
                                        <div class="same-line">
                                            <div class="number-customers text-center">23</div>
                                            <div class="text-sellers">Happy customers</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-col">
                                <div class="panel panel-card panel-with-shadow">
                                    <div class="top-seller">
                                        <div class="member-info row row-inline row-eq-height">
                                            <div class="avatar-col col-sm-8 column text-center"><span class="avatar-default bg-3 avatar">DC</span></div>
                                            <div class="member-info-col col-sm-16 m-b-3-xs text-left column"><a class="text-gray-base member-name" href="#">D C</a>
                                                <div class="member-from text-left">Member since 2015-06-02</div>
                                            </div>
                                        </div>
                                        <hr class="splitter" />
                                        <div class="same-line">
                                            <div class="number-customers text-center">156</div>
                                            <div class="text-sellers">Active Negotiations</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-col">
                                <div class="panel panel-card panel-with-shadow">
                                    <div class="top-seller">
                                        <div class="member-info row row-inline row-eq-height">
                                            <div class="avatar-col col-sm-8 column text-center"><img alt=" " class="avatar" src="static/someotherguy.jpg" /></div>
                                            <div class="member-info-col col-sm-16 m-b-3-xs text-left column"><a class="text-gray-base member-name" href="#">frank  meester </a>
                                                <div class="member-from text-left">Member since 2017-05-08</div>
                                            </div>
                                        </div>
                                        <hr class="splitter" />
                                        <div class="same-line">
                                            <div class="number-customers text-center">11</div>
                                            <div class="text-sellers">Happy customers</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-col">
                                <div class="panel panel-card panel-with-shadow">
                                    <div class="top-seller">
                                        <div class="member-info row row-inline row-eq-height">
                                            <div class="avatar-col col-sm-8 column text-center"><img alt=" " class="avatar" src="static/mp.jpg" /></div>
                                            <div class="member-info-col col-sm-16 m-b-3-xs text-left column"><a class="text-gray-base member-name" href="#">Media Plow, LLC</a>
                                                <div class="member-from text-left">Member since 2017-04-05</div>
                                            </div>
                                        </div>
                                        <hr class="splitter" />
                                        <div class="same-line">
                                            <div class="number-customers text-center">19</div>
                                            <div class="text-sellers">Happy customers</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-col">
                                <div class="panel panel-card panel-with-shadow">
                                    <div class="top-seller">
                                        <div class="member-info row row-inline row-eq-height">
                                            <div class="avatar-col col-sm-8 column text-center"><span class="avatar-default bg-17 avatar">SB</span></div>
                                            <div class="member-info-col col-sm-16 m-b-3-xs text-left column"><a class="text-gray-base member-name" href="#">Sunday Bode</a>
                                                <div class="member-from text-left">Member since 2016-01-27</div>
                                            </div>
                                        </div>
                                        <hr class="splitter" />
                                        <div class="same-line">
                                            <div class="number-customers text-center">12</div>
                                            <div class="text-sellers">Happy customers</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-col">
                                <div class="panel panel-card panel-with-shadow">
                                    <div class="top-seller">
                                        <div class="member-info row row-inline row-eq-height">
                                            <div class="avatar-col col-sm-8 column text-center"><span class="avatar-default bg-8 avatar">BI</span></div>
                                            <div class="member-info-col col-sm-16 m-b-3-xs text-left column"><a class="text-gray-base member-name" href="#">Backdraft Internet</a>
                                                <div class="member-from text-left">Member since 2014-03-18</div>
                                            </div>
                                        </div>
                                        <hr class="splitter" />
                                        <div class="same-line">
                                            <div class="number-customers text-center">40</div>
                                            <div class="text-sellers">Happy customers</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-col">
                                <div class="panel panel-card panel-with-shadow">
                                    <div class="top-seller">
                                        <div class="member-info row row-inline row-eq-height">
                                            <div class="avatar-col col-sm-8 column text-center"><img alt=" " class="avatar" src="static/sphere.png" /></div>
                                            <div class="member-info-col col-sm-16 m-b-3-xs text-left column"><a class="text-gray-base member-name" href="#">Golan Media</a>
                                                <div class="member-from text-left">Member since 2018-04-04</div>
                                            </div>
                                        </div>
                                        <hr class="splitter" />
                                        <div class="same-line">
                                            <div class="number-customers text-center">846</div>
                                            <div class="text-sellers">Domains Listed</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-col">
                                <div class="panel panel-card panel-with-shadow">
                                    <div class="top-seller">
                                        <div class="member-info row row-inline row-eq-height">
                                            <div class="avatar-col col-sm-8 column text-center"><img alt=" " class="avatar" src="static/mustache.png" /></div>
                                            <div class="member-info-col col-sm-16 m-b-3-xs text-left column"><a class="text-gray-base member-name" href="#">Mr. BRANDerton</a>
                                                <div class="member-from text-left">Member since 2019-01-20</div>
                                            </div>
                                        </div>
                                        <hr class="splitter" />
                                        <div class="same-line">
                                            <div class="number-customers text-center">1238</div>
                                            <div class="text-sellers">Domains Listed</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-col">
                                <div class="panel panel-card panel-with-shadow">
                                    <div class="top-seller">
                                        <div class="member-info row row-inline row-eq-height">
                                            <div class="avatar-col col-sm-8 column text-center"><span class="avatar-default bg-13 avatar">RL</span></div>
                                            <div class="member-info-col col-sm-16 m-b-3-xs text-left column"><a class="text-gray-base member-name" href="#">Rob Lukkien</a>
                                                <div class="member-from text-left">Member since 2015-03-31</div>
                                            </div>
                                        </div>
                                        <hr class="splitter" />
                                        <div class="same-line">
                                            <div class="number-customers text-center">11</div>
                                            <div class="text-sellers">Happy customers</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-col">
                                <div class="panel panel-card panel-with-shadow">
                                    <div class="top-seller">
                                        <div class="member-info row row-inline row-eq-height">
                                            <div class="avatar-col col-sm-8 column text-center"><span class="avatar-default bg-3 avatar">JA</span></div>
                                            <div class="member-info-col col-sm-16 m-b-3-xs text-left column"><a class="text-gray-base member-name" href="#">Jude Anajama</a>
                                                <div class="member-from text-left">Member since 2016-04-29</div>
                                            </div>
                                        </div>
                                        <hr class="splitter" />
                                        <div class="same-line">
                                            <div class="number-customers text-center">24</div>
                                            <div class="text-sellers">Happy customers</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-col">
                                <div class="panel panel-card panel-with-shadow">
                                    <div class="top-seller">
                                        <div class="member-info row row-inline row-eq-height">
                                            <div class="avatar-col col-sm-8 column text-center"><img alt=" " class="avatar" src="static/dn.png" /></div>
                                            <div class="member-info-col col-sm-16 m-b-3-xs text-left column"><a class="text-gray-base member-name" href="#">domain-names.co.uk</a>
                                                <div class="member-from text-left">Member since 2019-01-29</div>
                                            </div>
                                        </div>
                                        <hr class="splitter" />
                                        <div class="same-line">
                                            <div class="number-customers text-center">32</div>
                                            <div class="text-sellers">Active Negotiations</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-col">
                                <div class="panel panel-card panel-with-shadow">
                                    <div class="top-seller">
                                        <div class="member-info row row-inline row-eq-height">
                                            <div class="avatar-col col-sm-8 column text-center"><span class="avatar-default bg-17 avatar">RI</span></div>
                                            <div class="member-info-col col-sm-16 m-b-3-xs text-left column"><a class="text-gray-base member-name" href="#">RvdS Internetmarketing</a>
                                                <div class="member-from text-left">Member since 2019-01-09</div>
                                            </div>
                                        </div>
                                        <hr class="splitter" />
                                        <div class="same-line">
                                            <div class="number-customers text-center">62</div>
                                            <div class="text-sellers">Happy customers</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-col">
                                <div class="panel panel-card panel-with-shadow">
                                    <div class="top-seller">
                                        <div class="member-info row row-inline row-eq-height">
                                            <div class="avatar-col col-sm-8 column text-center"><img alt=" " class="avatar" src="static/broken.png" /></div>
                                            <div class="member-info-col col-sm-16 m-b-3-xs text-left column"><a class="text-gray-base member-name" href="#">Shay Rahman</a>
                                                <div class="member-from text-left">Member since 2017-03-12</div>
                                            </div>
                                        </div>
                                        <hr class="splitter" />
                                        <div class="same-line">
                                            <div class="number-customers text-center">27</div>
                                            <div class="text-sellers">Active Negotiations</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-col">
                                <div class="panel panel-card panel-with-shadow">
                                    <div class="top-seller">
                                        <div class="member-info row row-inline row-eq-height">
                                            <div class="avatar-col col-sm-8 column text-center"><img alt=" " class="avatar" src="static/leasing.png" /></div>
                                            <div class="member-info-col col-sm-16 m-b-3-xs text-left column"><a class="text-gray-base member-name" href="#">DOMAIN-LEASING.COM</a>
                                                <div class="member-from text-left">Member since 2019-04-28</div>
                                            </div>
                                        </div>
                                        <hr class="splitter" />
                                        <div class="same-line">
                                            <div class="number-customers text-center">1347</div>
                                            <div class="text-sellers">Domains Listed</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-col">
                                <div class="panel panel-card panel-with-shadow">
                                    <div class="top-seller">
                                        <div class="member-info row row-inline row-eq-height">
                                            <div class="avatar-col col-sm-8 column text-center"><img alt=" " class="avatar" src="static/partners.png" /></div>
                                            <div class="member-info-col col-sm-16 m-b-3-xs text-left column"><a class="text-gray-base member-name" href="#">www.Brands.International</a>
                                                <div class="member-from text-left">Member since 2017-06-02</div>
                                            </div>
                                        </div>
                                        <hr class="splitter" />
                                        <div class="same-line">
                                            <div class="number-customers text-center">639</div>
                                            <div class="text-sellers">Domains Listed</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><a class="left carousel-control" data-slide="prev" href="#sellerCarousel"><span aria-hidden="true" class="icon-arrow-big arrow-left"></span></a><a class="right carousel-control" data-slide="next" href="#sellerCarousel"><span aria-hidden="true" class="icon-arrow-big arrow-right"></span></a></div>
            </div>
        </div>
    </div>

    <div class="trust-safety p-b-8">
        <div class="container">
            <div class="row">
                <h2 class="text-center p-b-4">We keep you safe</h2>
            </div>
            <div class="row">
                <div class="col-md-8 col-sm-24 text-center p-b-4">
                    <div class="text-center"><img class="media-icon" src="static/shield.png" /></div>
                    <div class="title">Buyer Protection Program</div>
                    <div class="description">We protect every transaction through a careful escrow process, leading to 100% successful acquisitions since 2014.</div>
                </div>
                <div class="col-md-8 col-sm-24 text-center p-b-4">
                    <div class="text-center"><img class="media-icon" src="static/safe.png" /></div>
                    <div class="title">Safe Payments by Adyen</div>
                    <div class="description">Our partner Adyen processes all payments with professional-grade security so you never have to worry!</div>
                </div>
                <div class="col-md-8 col-sm-24 text-center p-b-4">
                    <div class="text-center"><img class="media-icon" src="static/phone.png" /></div>
                    <div class="title">Best Customer Support</div>
                    <div class="description">Customers love our team! We are always available for you and respond to your chat or email 7 days a week.</div>
                </div>
            </div>
        </div>
    </div>
    <!--Shoutout naar Trustpilot-->

    <script>
        function setI18nLocale() {
            window.I18n.defaultLocale = "en-us"
            window.I18n.locale = "en-us"
        }
    </script>
    <script src="static/welcome.js"></script>
    <script src="static/marketplace.js" onload="setI18nLocale()"></script>
    <script src="static/common-bundle.js" defer="defer"></script>
    <script src="static/client-bundle.js" defer="defer"></script>

</body>

</html>s