<!DOCTYPE html>
<html itemscope="" itemtype="http://schema.org/WebSite">

<head>
    <link rel="stylesheet" media="screen" href="static/login-normal.css" />


    <script src="static/bootstrap.js" defer="defer"></script>

    <script src="static/login-batch.js"></script>
    <script>
        function AutoShrink() {
            try {
                elements = document.querySelectorAll('.auto-shrink');

                for (i = 0; i < elements.length; i++) {
                    el = elements[i];

                    height = parseInt(getComputedStyle(el).height);
                    lineHeight = parseInt(getComputedStyle(el).lineHeight);
                    fontSize = parseInt(getComputedStyle(el).fontSize);

                    while (height > lineHeight + 10) {
                        fontSize--;

                        el.style.fontSize = '' + fontSize + 'px';

                        height = parseInt(getComputedStyle(el).height);
                        lineHeight = parseInt(getComputedStyle(el).lineHeight);
                    }
                }
            } catch (err) {
                console.log("auto-shrink error", err.message)
            }
        }

        WebFont.load({
            custom: {
                families: ['Work Sans']
            },
            fontactive: function(familyName, fvd) {
                if (familyName == 'Work Sans') {
                    setTimeout(AutoShrink, 100)
                }
            },
            events: true,
            classes: false,
        })

        if (document.addEventListener) document.addEventListener('DOMContentLoaded', AutoShrink)
    </script>

    <title>Log in</title>

    <link href="#" rel="canonical" />
    <link href="#" hreflang="en-us" itemprop="url" rel="alternate" />
    <link href="#" hreflang="nl-nl" itemprop="" rel="alternate" />
    <link href="#" hreflang="es-es" itemprop="" rel="alternate" />
    <link href="#" hreflang="hi-in" itemprop="" rel="alternate" />
    <link href="#" hreflang="de-de" itemprop="" rel="alternate" />
    <link href="#" hreflang="fr-fr" itemprop="" rel="alternate" />
    <link href="#" hreflang="zh-cn" itemprop="" rel="alternate" />
</head>

<body>
    <div itemprop="author" style="display:none!important;">
    </div>
    <header class="headroom">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{url_for('login')}}"><img class="img-responsive" src="static/icon.ico" /></a><button class="navbar-toggle collapsed" data-target="#header-navbar" data-toggle="collapse" type="button"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button></div>
            <div class="collapse navbar-collapse" id="header-navbar">
                <div class="col-sm-8 col-sm-offset-8">

                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="btn btn-ghost-primary btn-sm btn-sell-domains" type="button" href="{{url_for('index')}}">Home</a></li>
                    <li><a class="btn btn-ghost-primary btn-sm btn-sell-domains" type="button" href="{{url_for('signup')}}">Sell domains</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <nav class="navbar navbar-default fake"></nav>
    <div class="full-page">
        <div class="container p-y-8">
            <div class="col-lg-10 col-lg-offset-7 col-md-12 col-md-offset-6 col-sm-14 col-sm-offset-5">
                <div class="panel panel-form">
                    <div class="panel-body p-t-4 p-b-5">
                        <div class="col-sm-24">
                            <h2 class="m-y-0 text-center">Log in</h2>
                            <p class="m-b-5 text-muted text-center">Welcome back</p>
                            <form class="new_admin_user" id="new_admin_user" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="efwZcO9b8mEGMyChlHRmtkqfHD9Ocx3oRyZfQ9eHOBjsUWoIt8eOFpwByZYtrc6qh3zdGfGXLmOJFc1n47Jx5w==" />
                                <div class="form-group"><input autofocus="autofocus" placeholder="Your email address" class="form-control" type="email" value="" name="admin_user[email]" id="admin_user_email" /></div>
                                <div class="form-group"><input autocomplete="off" placeholder="Your password" class="form-control" type="password" name="admin_user[password]" id="admin_user_password" /></div>
                                <div class="form-group text-center">
                                    <div class="checkbox m-y-3">
                                        <div class="checkbox-outer"><input name="admin_user[remember_me]" type="hidden" value="0" /><input type="checkbox" value="1" name="admin_user[remember_me]" id="admin_user_remember_me" /><span></span></div><label class="text-muted" for="admin_user_remember_me">Remember me</label></div>
                                </div><input type="submit" name="commit" value="Log in to your account" class="btn btn-default btn-lg btn-block" data-disable-with="Log in to your account" /></form>
                            <div class="text-center">
                                <div class="m-t-3"><a href="#">Forgot your password?</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function setI18nLocale() {
            window.I18n.defaultLocale = "en-us"
            window.I18n.locale = "en-us"
        }
    </script>
    <script src="static/login-welcome.js"></script>
    <script src="static/login-marketplace.js" onload="setI18nLocale()"></script>

</body>

</html>